example-shipment.json
doc/
*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
Gemfile.lock
coverage
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
**/.DS_Store
.idea/
