---
http_interactions:
- request:
    method: get
    uri: https://api.goshippo.com/tracks/usps/9205590164917312751089/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
      Shippo-Api-Version:
      - '2017-03-29'
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/tracks/usps/9205590164917312751089"
    body:
      encoding: UTF-8
      string: "<a href=\"/tracks/usps/9205590164917312751089\">Moved Permanently</a>.\n\n"
  recorded_at: Fri, 13 Sep 2019 21:31:34 GMT
- request:
    method: get
    uri: https://api.goshippo.com/tracks/usps/9205590164917312751089
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
      Shippo-Api-Version:
      - '2017-03-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"detail":"usps is not a valid test tracking carrier. Please use ''shippo''"}'
  recorded_at: Fri, 13 Sep 2019 21:31:34 GMT
- request:
    method: get
    uri: https://api.goshippo.com/tracks/shippo/9205590164917312751089/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
      Shippo-Api-Version:
      - '2017-03-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - OPTIONS
    body:
      encoding: UTF-8
      string: '{"detail": "9205590164917312751089 is not a valid test tracking number.
        Please use the sample tracking numbers provided in the Shippo API docs: https://goshippo.com/docs/tracking"}'
  recorded_at: Fri, 13 Sep 2019 21:35:57 GMT
[...]
- request:
    method: get
    uri: https://api.goshippo.com/tracks/shippo/SHIPPO_TRANSIT/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
      Shippo-Api-Version:
      - '2017-03-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"messages": [], "carrier": "shippo", "tracking_number": "SHIPPO_TRANSIT",
        "address_from": {"city": "San Francisco", "state": "CA", "zip": "94103", "country":
        "US"}, "address_to": {"city": "Chicago", "state": "IL", "zip": "60611", "country":
        "US"}, "eta": "2019-09-16T21:43:41.656Z", "original_eta": "2019-09-16T21:43:41.656Z",
        "servicelevel": {"token": "shippo_priority", "name": "Priority Mail"}, "metadata":
        "Shippo test tracking", "tracking_status": {"object_created": "2019-09-13T21:43:41.659Z",
        "object_updated": null, "object_id": "45f3bc3facbc45f28ecfeaf016b95e09", "status":
        "TRANSIT", "status_details": "Your shipment has departed from the origin.",
        "status_date": "2019-09-12T19:38:41.659Z", "location": {"city": "San Francisco",
        "state": "CA", "zip": "94103", "country": "US"}}, "tracking_history": [{"object_created":
        "2019-09-13T21:43:41.661Z", "object_updated": null, "object_id": "4113717efb1b49158922a08eb1d34474",
        "status": "UNKNOWN", "status_details": "The carrier has received the electronic
        shipment information.", "status_date": "2019-09-11T17:33:41.661Z", "location":
        {"city": "San Francisco", "state": "CA", "zip": "94103", "country": "US"}},
        {"object_created": "2019-09-13T21:43:41.661Z", "object_updated": null, "object_id":
        "617cba4449f043dfada573716de93c4a", "status": "TRANSIT", "status_details":
        "Your shipment has departed from the origin.", "status_date": "2019-09-12T19:38:41.661Z",
        "location": {"city": "San Francisco", "state": "CA", "zip": "94103", "country":
        "US"}}], "transaction": null, "test": true}'
  recorded_at: Fri, 13 Sep 2019 21:43:41 GMT
recorded_with: VCR 3.0.3
