---
http_interactions:
- request:
    method: post
    uri: https://api.goshippo.com/tracks/
    body:
      encoding: UTF-8
      string: '{"carrier":"usps","tracking_number":"9205590164917312751089"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
      Shippo-Api-Version:
      - '2017-03-29'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - OPTIONS
    body:
      encoding: UTF-8
      string: '{"detail": "usps is not a valid test tracking carrier. Please use ''shippo''"}'
  recorded_at: Thu, 12 Sep 2019 17:53:08 GMT
recorded_with: VCR 3.0.3
