---
http_interactions:
- request:
    method: post
    uri: https://api.goshippo.com/batches/
    body:
      encoding: UTF-8
      string: '{"default_carrier_account":"903074429eab4954b72df8a70defdfe3","default_servicelevel_token":"usps_priority","label_filetype":"ZPLII","metadata":"BATCH
        #170","batch_shipments":[{"shipment":{"address_from":{"name":"Simon Says","company":"","street1":"965
        Mission St","street2":"Ste 201","city":"San Francisco","state":"CA","zip":"94103","country":"US","phone":"4151234567","email":"hippo@goshippo.com"},"address_to":{"name":"Who
        Says","company":"","street1":"400 Simon St","street_no":"","street2":"Apt
        123","city":"San Francisco","state":"CA","zip":"94102","country":"US","phone":"4151234567","email":"hippo@goshippo.com","metadata":""},"parcels":[{"length":"5","width":"5","height":"5","distance_unit":"in","weight":"2","mass_unit":"oz","template":"","metadata":"Customer
        ID 123456"}],"extra":{"reference_1":"REF1 - Simon","reference_2":"REF2 - Says"},"metadata":""}},{"shipment":{"address_from":{"name":"Simon
        Says","company":"","street1":"965 Mission St","street2":"Ste 201","city":"San
        Francisco","state":"CA","zip":"94103","country":"US","phone":"4151234567","email":"shippo@goshippo.com"},"address_to":{"name":"Who
        Says","company":"","street1":"400 Simon St","street_no":"","street2":"Apt
        123","city":"San Francisco","state":"CA","zip":"94102","country":"US","phone":"4151234567","email":"hippo@goshippo.com","metadata":""},"parcels":[{"length":"5","width":"5","height":"5","distance_unit":"in","weight":"2","mass_unit":"oz","template":"","metadata":"Customer
        ID 123456"}],"extra":{"reference_1":"REF1 - Simon","reference_2":"REF2 - Says"},"metadata":""}},{"shipment":{"address_from":{"name":"Simon
        Says","company":"","street1":"965 Mission St","street2":"Ste 201","city":"San
        Francisco","state":"CA","zip":"94103","country":"US","phone":"4151234567","email":"hippo@goshippo.com"},"address_to":{"name":"Who
        Says","company":"","street1":"400 Simon St","street_no":"","street2":"Apt
        123","city":"San Francisco","state":"CA","zip":"94102","country":"US","phone":"4151234567","email":"hippo@goshippo.com","metadata":""},"parcels":[{"length":"5","width":"5","height":"5","distance_unit":"in","weight":"2","mass_unit":"oz","template":"","metadata":"Customer
        ID 123456"}],"extra":{"reference_1":"REF1 - Simon","reference_2":"REF2 - Says"},"metadata":""}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
      Shippo-Api-Version:
      - '2017-03-29'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      Allow:
      - OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"object_id": "dd22d82979eb4de58c557c01a3b13f19", "object_owner": "test@goshippotest.com",
        "status": "VALIDATING", "object_created": "2019-09-12T17:33:27.703Z", "object_updated":
        "2019-09-12T17:33:27.703Z", "metadata": "BATCH #170", "default_carrier_account":
        "903074429eab4954b72df8a70defdfe3", "default_servicelevel_token": "usps_priority",
        "label_filetype": "ZPLII", "batch_shipments": {"count": 0, "next": null, "previous":
        null, "results": []}, "object_results": {"purchase_succeeded": 0, "purchase_failed":
        0, "creation_failed": 0, "creation_succeeded": 0}, "label_url": [], "test":
        true}'
  recorded_at: Thu, 12 Sep 2019 17:33:27 GMT
recorded_with: VCR 3.0.3
